{% extends "base.html" %}

{% block title %}Django !{% endblock %}

{% block content %}
template_name ='testapp/home2.html'
 <h1>Authors</h1>
 <div class="col-xs-12">
      	<ul class="list-group">
          <!--<li class="list-group-item">{{ book }} </li>-->
      	 {%for author in author_name %}
      			<li class="list-group-item">{{ author }} </li>
      		{% empty %}
      			<li> No books</li>
      		{% endfor %}
      	</ul>

{% endblock %}