{% extends "base.html" %}

{% block title %}Django !{% endblock %}

{% block content %}
 <h1>Authors and books</h1>
 <div class="col-xs-12">
      	<ul class="list-group">
          <!--<li class="list-group-item">{{ book }} </li>-->
      	 {%for author in list %}
      			<li class="list-group-item">{{ author }} </li>
      		{% empty %}
      			<li> No books</li>
      		{% endfor %}
      	
      	</ul>
      	<hr>

			{% for books in context_data %}
				<a href="{% url views.HomeView.as_view.id %}">
				{{ books }}
				</a>
			{% endfor %}
{% endblock %}



 	

