{% extends "base.html" %}

{% block title %}Django !{% endblock %}

{% block content %}
 <h1>Books</h1>
 <div class="col-xs-12">
      	<ul class="list-group">
          <!--<li class="list-group-item">{{ book }} </li>-->
      	 {%for book in books %}
      			<li class="list-group-item">{{ book }} </li>
      		{% empty %}
      			<li> No books</li>
      		{% endfor %}
      	</ul>

{% endblock %}